{% extends 'todo/base.html' %}

{% block header %}
<h1>曲の詳細</h1>
{% endblock header %}

{% block content %}
<div class="card">
    <div class="card-body">
        <h2>{{task.title}}</h2>
        <p class="text-muted">{{ task.artist}}</p>
        <p class="text-muted">「{{task.description}}」</p>
        <p>{{ task.hiki_type}}</p>
        {% if task.share_url %}
          <div class="ratio ratio-16x9">
            <iframe src={{ task.share_url|add:"?rel=0" }}></iframe>
          </div>
        {% else %}
          <p>動画なし</p>
        {% endif %}
        <p><small class="text-muted">{{task.datetime}}</small></p>
    </div>
</div>
<a class="btn btn-light mt-2" href="{% url 'list' %}" role="button">戻る</a>
<a class="btn btn-primary mt-2" href="{% url 'update' task.pk %}" role="button">編集</a>
{% endblock content %}